/server/node_modules
/server/dist
/web/dist
/web/node_modules
/node_modules
/data/telegram_key.key
/data/telegram_channel_id.txt
server/dist/port-redirects.js
server/dist/main.js
/server/extra_assets
/.scannerwork
.scannerwork