.progress-indicator {
    position: absolute;
    
    top: 50%;
    left: 20px;

    height: 50%;
    left: 10px;
    
    width: 0px;

    transform: translateY(-50%);

    transition: width 1.5s;

    background-color: #fff;

    border-radius: 100px;

    overflow: hidden;
}

.progress-indicator-text {
    position: absolute;
    left: 5px;
    top: 50%;

    transform: translateY(-50%);

    color: black;
    font-size: min(3vw, 3vh);
}