<div id="side-circle-bg" [style.transform]="'translate(' + (activateCircle ? '-50%' : '-100%') + ', -50%) rotate(' + rotation + 'deg)'">
    <div id="side-circle">
        <app-circle-page src="assets/images/home-solid.svg" [row]="0" [maxRowLength]="6"></app-circle-page>
        <app-circle-page src="assets/images/tv-solid.svg" [row]="1" [maxRowLength]="6"></app-circle-page>
        <app-circle-page src="assets/images/users-solid.svg" [row]="2" [maxRowLength]="6"></app-circle-page>
        <app-circle-page src="assets/images/wpforms-brands.svg" [row]="3" [maxRowLength]="6"></app-circle-page>
    </div>
    <div id="side-circle-glowing"></div>
</div>