.circle-page, .circle-page-shadow {
    position: absolute;

    max-width: 20%;
    max-height: 20%;

    left: 50%;
    bottom: 5%;

    transform: translateX(-50%);
}
.circle-page {
    pointer-events: all;
}
.circle-page:hover {
    cursor: pointer;
}
.circle-page-shadow {
    opacity: 0%;
    filter: blur(1em);
    transition: opacity 0.5s;
}
.circle-page:hover + .circle-page-shadow {
    opacity: 70%;
}

.circle-page-parent {
    pointer-events: none;

    position: absolute;
    
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%) rotate(0deg);
}