<div class="social-media-symbol" [attr.isMobile]="isMobile" (click)="!isTouchDevice ? showPage() : undefined" (touchstart)="isTouchDevice ? componentTouchSupport.touchStart(href, showPage) : undefined" (touchend)="isTouchDevice ? componentTouchSupport.touchEnd(href) : undefined">
    <img [src]="src" class="social-media-symbol-image" [style.opacity]="symbolOpacity + '%'">
    <div class="social-media-symbol-label" *ngIf="isMobile">
        <label class="social-media-symbol-label-sub">{{ value }}</label>
    </div>
</div>