<app-code-background class="opacity-animation" [style.opacity]="displayMainPage ? '0%' : '100%'"></app-code-background>

<app-side-circle class="opacity-animation" [maxRowLength]="6" [activateCircle]="displayMainPage"></app-side-circle>

<div class="opacity-animation" id="page-grid" [style.top]="displayMainPage ? '0px' : '100vh'">
    <app-home class="page-part"></app-home>
    <app-languages class="page-part"></app-languages>
    <app-social-media class="page-part"></app-social-media>
    <app-contact-form class="page-part"></app-contact-form>
    <app-credits class="page-part" style="height: 50vh;"></app-credits>
</div>

<app-message-box></app-message-box>