/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: japoki;
    src: url("assets/fonts/jaapokki-regular.ttf");
}

body {
    overflow-x: hidden;
    width: 100%;
    top: 100%;
    background-color: #D8E3E7;
}

#page-grid[displaymainpage="true"] {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    display: grid;
    transition: top 1s;
}
#page-grid[displaymainpage="false"] {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    display: grid;
    transition: top 1s;
}

.page-part {
    position: relative;
    width: 100vw;
    height: 100vh;
}

label, .label, button {
    font-family: japoki;
}
.opacity-animation {
    transition: opacity 1s;
}

.code-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}